html {
	color: #fff;
}
#xsmall, #small, #medium, #large, #xlarge {
	display: none;
}

@media (max-width: 400px) {
	html { background: #f1c40f; }
	#xsmall {display: block;}
}

@media (min-width: 401px) and (max-width: 600px) {
  html { background: #2ecc71; }
  #small {display: block;}
}

@media (min-width: 601px) and (max-width: 800px) {
  html { background: #e74c3c; }
  #medium {display: block;}
}
@media (min-width: 801px) and (max-width: 1200px) {
  html { background: #3498db; }
  #large {display: block;}
}
@media (min-width: 1201px) {
  html { background: #34495e; }
  #xlarge {display: block;}
}